<h1>About Deez Donuts!</h1>
<div class="about" style="filter: alpha(opacity=60); opacity: .9;">

<p>Here at Deez Donuts we strive for perfection in every last bite. We use only the highest quality ingredients, every donut sure to be a crowd pleaser! Come on in and enjoy your first Deez Dozen on the house today!</p>
</div>